## 💡understanding the dataset

In [3]:
import pandas as pd

In [4]:
store_status = pd.read_csv('Data/store status.csv')
menu_hours = pd.read_csv('Data/Menu hours.csv')
store_timezone = pd.read_csv('Data/bq-results-20230125-202210-1674678181880.csv')

### Store status

In [5]:
store_status.head()

              store_id  status                   timestamp_utc
0  8419537941919820732  active  2023-01-22 12:09:39.388884 UTC
1    54515546588432327  active  2023-01-24 09:06:42.605777 UTC
2  8377465688456570187  active  2023-01-24 09:07:26.441407 UTC
3  5955337179846162144  active  2023-01-24 09:08:07.634899 UTC
4  1169347689335808384  active  2023-01-24 09:08:18.436854 UTC

In [6]:
len(store_status['store_id'].unique())
store_status['store_id'].value_counts() #14K + stores

store_id
2994760733762859774    381
3345190510668585029    381
2311272071941344516    381
8349337405318481717    280
8444136742823051302    280
                      ...
9096751932396962554     29
3820046627859013224      5
1217505942626861817      5
9018735632573947773      2
4542926605533674949      1
Name: count, Length: 14092, dtype: int64

In [7]:
# check weather any store is inactive in status
store_status['status'].value_counts()

status
active      1382592
inactive     439488
Name: count, dtype: int64

In [8]:
# store_status['store_id'].value_counts().sort_values(ascending=False).head(10)
# store_status['status'].value_counts().sort_values(ascending=False).head(10)
# only show the rows with status = active
# store_status[store_status['status'] == 'inactive']

In [9]:
# only show the rows with status = active
store_status[store_status['status'] == 'inactive']

                    store_id    status                   timestamp_utc
1382592  6346159637011214334  inactive  2023-01-20 15:03:02.002005 UTC
1382593  3068127015204330700  inactive  2023-01-24 09:07:48.402908 UTC
1382594   335433652023039477  inactive  2023-01-19 06:09:01.950583 UTC
1382595  4834448181781672657  inactive  2023-01-21 16:01:16.127025 UTC
1382596  4122112653000175466  inactive   2023-01-20 17:04:15.44859 UTC
...                      ...       ...                             ...
1822075  9103029069217106077  inactive  2023-01-20 09:02:21.705125 UTC
1822076  5532343280896549215  inactive  2023-01-21 02:03:58.311087 UTC
1822077  3794430814933142786  inactive  2023-01-21 04:04:20.916254 UTC
1822078  4192592653801050907  inactive  2023-01-21 15:11:50.902575 UTC
1822079  3846497499881872792  inactive  2023-01-21 08:04:26.177456 UTC

[439488 rows x 3 columns]

In [10]:
store_status['timestamp_utc'].min(), store_status['timestamp_utc'].max() # we have store status data of 1 week (2019-01-01 00:00:00 to 2020-12-31 23:59:59)

('2023-01-18 00:00:03.24375 UTC', '2023-01-25 18:13:22.47922 UTC')

In [36]:
store_status['store_id'].value_counts().min(), store_status['store_id'].value_counts().max() # 1 381
store_status['store_id'].value_counts() # a store can have multiple status ranges 1 to 381

store_id
2994760733762859774    381
3345190510668585029    381
2311272071941344516    381
8349337405318481717    280
8444136742823051302    280
                      ...
9096751932396962554     29
3820046627859013224      5
1217505942626861817      5
9018735632573947773      2
4542926605533674949      1
Name: count, Length: 14092, dtype: int64

In [109]:
# to get store_id's with both active and inactive status
sampleIdList = store_status.sample(10)['store_id'].unique().tolist()

for st_id in sampleIdList:
    ss_sorted_timestamp_utc = store_status[store_status['store_id'] == st_id].sort_values(by=["timestamp_utc"])
    print(st_id, len(ss_sorted_timestamp_utc[ss_sorted_timestamp_utc['status'] == 'active']), len(ss_sorted_timestamp_utc[ss_sorted_timestamp_utc['status'] == 'inactive']))

5658095063472105077 0 110
2703180363322156779 109 0
1306376180873819584 118 0
8353073148539307601 109 0
4177136368332916636 124 0
8850787479646852679 0 110
3935825252641795934 123 0
4880550439290510119 0 111
5793938162326382521 56 58
191331733720214713 274 0

In [110]:
type(store_status['timestamp_utc'][0]) # str
# store_status[store_status['store_id'] == 4192592653801050907] # 132 records
ss_sorted_timestamp_utc = store_status[store_status['store_id'] == 7832590722878413297].sort_values(by=["timestamp_utc"])
ss_sorted_timestamp_utc
# only show status = inactive
ss_sorted_timestamp_utc[ss_sorted_timestamp_utc['status'] == 'inactive']

                    store_id    status                   timestamp_utc
1596064  7832590722878413297  inactive  2023-01-18 00:09:50.541419 UTC
1630730  7832590722878413297  inactive  2023-01-18 01:10:07.117301 UTC
1612255  7832590722878413297  inactive  2023-01-18 02:08:06.892883 UTC
1796555  7832590722878413297  inactive   2023-01-18 03:01:20.66114 UTC
1615743  7832590722878413297  inactive  2023-01-18 04:09:04.075382 UTC
1680376  7832590722878413297  inactive  2023-01-18 05:09:05.845038 UTC
1769032  7832590722878413297  inactive  2023-01-18 06:10:18.722724 UTC
1734323  7832590722878413297  inactive  2023-01-18 07:31:08.533841 UTC
1663044  7832590722878413297  inactive    2023-01-18 08:29:03.6784 UTC
1743755  7832590722878413297  inactive  2023-01-19 04:23:57.623924 UTC
1415532  7832590722878413297  inactive   2023-01-19 04:24:23.67959 UTC
1536290  7832590722878413297  inactive  2023-01-19 05:07:38.957497 UTC
1514587  7832590722878413297  inactive  2023-01-19 05:09:19.722158 UTC
1443244  7832590722878413297  inactive  2023-01-19 06:24:00.897978 UTC
1430606  7832590722878413297  inactive  2023-01-19 06:24:30.950927 UTC
1792106  7832590722878413297  inactive  2023-01-19 07:26:15.520105 UTC
1805765  7832590722878413297  inactive  2023-01-19 07:26:43.863294 UTC
1431743  7832590722878413297  inactive  2023-01-19 08:49:07.169102 UTC
1647109  7832590722878413297  inactive   2023-01-19 08:51:48.88801 UTC
1710419  7832590722878413297  inactive   2023-01-20 05:27:16.95347 UTC
1762445  7832590722878413297  inactive  2023-01-20 05:29:05.872334 UTC
1657532  7832590722878413297  inactive  2023-01-20 06:01:08.426211 UTC
1412219  7832590722878413297  inactive  2023-01-20 06:02:32.172041 UTC
1791105  7832590722878413297  inactive  2023-01-20 07:03:52.160152 UTC
1817399  7832590722878413297  inactive  2023-01-20 07:06:52.610318 UTC
1400779  7832590722878413297  inactive  2023-01-20 08:07:27.253437 UTC
1408734  7832590722878413297  inactive  2023-01-20 08:08:35.516108 UTC
1648119  7832590722878413297  inactive  2023-01-24 05:53:34.393965 UTC
1498540  7832590722878413297  inactive  2023-01-24 05:56:01.281215 UTC
1545273  7832590722878413297  inactive  2023-01-24 06:01:01.997793 UTC
1658436  7832590722878413297  inactive  2023-01-24 06:04:36.487247 UTC
1437341  7832590722878413297  inactive  2023-01-24 07:00:41.413614 UTC
1797726  7832590722878413297  inactive  2023-01-24 07:02:41.737451 UTC
1409735  7832590722878413297  inactive  2023-01-24 08:00:43.609822 UTC
1586962  7832590722878413297  inactive  2023-01-24 08:03:54.673173 UTC
1628455  7832590722878413297  inactive  2023-01-25 02:00:52.899424 UTC
1447770  7832590722878413297  inactive  2023-01-25 02:03:21.459324 UTC
1505294  7832590722878413297  inactive  2023-01-25 03:00:47.142792 UTC
1820579  7832590722878413297  inactive  2023-01-25 03:02:38.811284 UTC

In [111]:
ss_sorted_timestamp_utc[ss_sorted_timestamp_utc['timestamp_utc'] == '2023-01-18 00:03:21.206668 UTC']

Empty DataFrame
Columns: [store_id, status, timestamp_utc]
Index: []

In [112]:
ss_4192592653801050907_on_2023_01_18 = ss_sorted_timestamp_utc[list(map(lambda x: x.startswith('2023-01-18'), ss_sorted_timestamp_utc['timestamp_utc']))]
len(ss_4192592653801050907_on_2023_01_18) # 26
"""
There are 2 records during 10th hr
    972145	4192592653801050907	active	2023-01-18 10:15:31.120774 UTC
    494932	4192592653801050907	active	2023-01-18 10:58:39.892198 UTC
    &
    3 record at 14th hr
    208456	4192592653801050907	active	2023-01-18 14:06:31.641957 UTC
    244652	4192592653801050907	active	2023-01-18 14:12:37.270925 UTC
    715502	4192592653801050907	active	2023-01-18 14:19:16.808377 UTC
    & NO record at 22th hr -> may be the store is closed at 22th hr[Not business hours]
"""
ss_4192592653801050907_on_2023_01_18 # record of every 1 hr for 24 hrs

                    store_id    status                   timestamp_utc
1596064  7832590722878413297  inactive  2023-01-18 00:09:50.541419 UTC
1630730  7832590722878413297  inactive  2023-01-18 01:10:07.117301 UTC
1612255  7832590722878413297  inactive  2023-01-18 02:08:06.892883 UTC
1796555  7832590722878413297  inactive   2023-01-18 03:01:20.66114 UTC
1615743  7832590722878413297  inactive  2023-01-18 04:09:04.075382 UTC
1680376  7832590722878413297  inactive  2023-01-18 05:09:05.845038 UTC
1769032  7832590722878413297  inactive  2023-01-18 06:10:18.722724 UTC
1734323  7832590722878413297  inactive  2023-01-18 07:31:08.533841 UTC
1663044  7832590722878413297  inactive    2023-01-18 08:29:03.6784 UTC
157866   7832590722878413297    active  2023-01-18 09:35:44.676658 UTC
1048484  7832590722878413297    active  2023-01-18 10:53:13.075134 UTC
726307   7832590722878413297    active  2023-01-18 11:23:27.563771 UTC
1008699  7832590722878413297    active    2023-01-18 11:39:52.5773 UTC
1110081  7832590722878413297    active  2023-01-18 13:17:08.627361 UTC
906899   7832590722878413297    active  2023-01-18 13:51:12.845871 UTC
298962   7832590722878413297    active  2023-01-18 14:05:44.022259 UTC
1015783  7832590722878413297    active  2023-01-18 14:16:57.697836 UTC
1233018  7832590722878413297    active  2023-01-18 14:21:44.109721 UTC
168601   7832590722878413297    active  2023-01-18 15:44:09.715541 UTC
454959   7832590722878413297    active  2023-01-18 16:05:25.103088 UTC
186704   7832590722878413297    active  2023-01-18 16:10:55.311705 UTC
863725   7832590722878413297    active  2023-01-18 17:21:52.920423 UTC
251752   7832590722878413297    active  2023-01-18 17:49:40.527438 UTC
998234   7832590722878413297    active  2023-01-18 18:13:57.698146 UTC
397470   7832590722878413297    active  2023-01-18 18:20:22.185457 UTC
35589    7832590722878413297    active  2023-01-18 19:29:12.508239 UTC
809823   7832590722878413297    active  2023-01-18 19:47:03.805759 UTC
849925   7832590722878413297    active  2023-01-18 20:07:36.248162 UTC
273830   7832590722878413297    active  2023-01-18 20:13:20.481193 UTC
303196   7832590722878413297    active  2023-01-18 21:08:40.604523 UTC
346525   7832590722878413297    active  2023-01-18 21:09:15.900949 UTC
1316540  7832590722878413297    active  2023-01-18 23:22:46.225262 UTC
592761   7832590722878413297    active  2023-01-18 23:22:56.269863 UTC

### Store timezones

In [94]:
store_timezone.head()

              store_id    timezone_str
0  8139926242460185114     Asia/Beirut
1  5415949628544298339   America/Boise
2  3408529570017053440  America/Denver
3  9055649751952768824  America/Denver
4  4428372089193592098  America/Denver

In [95]:
store_timezone['store_id'].value_counts() # 13.5k stores are in the timezone file rest are 24/7 stores

store_id
8139926242460185114    1
7723884607359037576    1
1566265768284466134    1
996443062234439430     1
4664919917225425354    1
                      ..
6587458010253796998    1
1083847188438126371    1
4710951354228966271    1
2636260465581969270    1
7869742085537243781    1
Name: count, Length: 13559, dtype: int64

In [96]:
store_timezone['store_id'].value_counts().sum() # missing timezone are 'America/Chicago'

13559

### Menu hours
> we will use this only to check weather

In [93]:
menu_hours.head()

              store_id  day start_time_local end_time_local
0  1481966498820158979    4         00:00:00       00:10:00
1  1481966498820158979    2         00:00:00       00:10:00
2  1481966498820158979    0         00:00:00       00:10:00
3  1481966498820158979    1         00:00:00       00:10:00
4  1481966498820158979    5         00:00:00       00:10:00

In [91]:
menu_hours['day'].value_counts()

day
5    12797
4    12599
3    12486
2    12388
1    12161
6    12055
0    11712
Name: count, dtype: int64

In [92]:
menu_hours['store_id'].value_counts()

store_id
1472400125885919118    21
5785297779221538030    21
3334248282862149533    21
1176400014944170417    21
778281888660867776     21
                       ..
2468311787670690415     1
4804353389514556006     1
1424913054868561500     1
5049675226414734680     1
3767574309250544663     1
Name: count, Length: 11116, dtype: int64

In [105]:
1472400125885919118 in list(menu_hours['store_id'])

True

In [106]:
menu_hours_1472400125885919118 = menu_hours[menu_hours['store_id'] == 1472400125885919118]
# Now sort the rows by day
menu_hours_1472400125885919118Sorted = menu_hours_1472400125885919118.sort_values(by=["day"])
menu_hours_1472400125885919118Sorted
# ⚠️ single store has multiple start and end time for a day

                  store_id  day start_time_local end_time_local
322    1472400125885919118    0         00:00:00       00:29:00
80350  1472400125885919118    0         17:00:00       23:59:59
14312  1472400125885919118    0         11:30:00       15:00:00
80355  1472400125885919118    1         17:00:00       23:59:59
323    1472400125885919118    1         00:00:00       00:29:00
14313  1472400125885919118    1         11:30:00       15:00:00
321    1472400125885919118    2         00:00:00       00:29:00
80351  1472400125885919118    2         17:00:00       23:59:59
14311  1472400125885919118    2         11:30:00       15:00:00
324    1472400125885919118    3         00:00:00       00:29:00
80352  1472400125885919118    3         17:00:00       23:59:59
14308  1472400125885919118    3         11:30:00       15:00:00
320    1472400125885919118    4         00:00:00       00:29:00
80354  1472400125885919118    4         17:00:00       23:59:59
14310  1472400125885919118    4         11:30:00       15:00:00
80349  1472400125885919118    5         17:00:00       23:59:59
14307  1472400125885919118    5         11:30:00       15:00:00
7050   1472400125885919118    5         00:00:00       02:30:00
14309  1472400125885919118    6         11:30:00       15:00:00
7049   1472400125885919118    6         00:00:00       02:30:00
80353  1472400125885919118    6         17:00:00       23:59:59

In [107]:
# """
# ⚠️ And also ther are common active hrs
#     eg. store_id -> 1472400125885919118
#         day -> 4[Friday]
#             00:00:00	00:29:00
#             17:00:00	23:59:59
#             11:30:00	15:00:00
# """
menu_hours_1472400125885919118Sorted[menu_hours_1472400125885919118Sorted['day'] == 4]

                  store_id  day start_time_local end_time_local
320    1472400125885919118    4         00:00:00       00:29:00
80354  1472400125885919118    4         17:00:00       23:59:59
14310  1472400125885919118    4         11:30:00       15:00:00

In [108]:
len(set(store_status['store_id'])), len(set(menu_hours['store_id'])) # some stores are not in menu hours they are 24/7 stores

(14092, 11116)

In [25]:
"""
Making the required table when the UTC date time is 2023-01-26
    eg.
    ```2019-01-01 00:00:00 UTC``` -> figring the weak like 4 or 1.
```store_id, uptime_last_hour(in minutes), uptime_last_day(in hours), update_last_week(in hours),
downtime_last_hour(in minutes), downtime_last_day(in hours), downtime_last_week(in hours)```
"""

'\nMaking the required table when the UTC date time is 2023-01-26\n    eg.\n    ```2019-01-01 00:00:00 UTC``` -> figring the weak like 4 or 1.\n```store_id, uptime_last_hour(in minutes), uptime_last_day(in hours), update_last_week(in hours),\ndowntime_last_hour(in minutes), downtime_last_day(in hours), downtime_last_week(in hours)```\n'

In [114]:
8444136742823051302 in list(menu_hours['store_id']) # True
menu_hours_8444136742823051302 = menu_hours[menu_hours['store_id'] == 8444136742823051302]
# # Now sort the rows by day
menu_hours_8444136742823051302Sorted = menu_hours_8444136742823051302.sort_values(by=["day"])
menu_hours_8444136742823051302Sorted # 7 days 24 hrs open
# menu_hours_8444136742823051302Sorted[menu_hours_8444136742823051302Sorted['day'] == 4]

                  store_id  day start_time_local end_time_local
74558  8444136742823051302    0         00:00:00       23:59:59
74555  8444136742823051302    1         00:00:00       23:59:59
74554  8444136742823051302    2         00:00:00       23:59:59
74560  8444136742823051302    3         00:00:00       23:59:59
74557  8444136742823051302    4         00:00:00       23:59:59
74556  8444136742823051302    5         00:00:00       23:59:59
74559  8444136742823051302    6         00:00:00       23:59:59

In [115]:
# Test with another restaurant
ss_sorted_timestamp_utc2 = store_status[store_status['store_id'] == 8444136742823051302].sort_values(by=["timestamp_utc"])
ss_8444136742823051302_on_2023_01_25 = ss_sorted_timestamp_utc2[list(map(lambda x: x.startswith('2023-01-25'), ss_sorted_timestamp_utc2['timestamp_utc']))]
# len(ss_8444136742823051302_on_2023_01_18) # 26
# ss_8444136742823051302_on_2023_01_18

"""
⚠️ Store should be open for 24*7 hrs but no data after 18:06:00 on 2023-01-25
"""
ss_8444136742823051302_on_2023_01_25

                    store_id  status                   timestamp_utc
644799   8444136742823051302  active  2023-01-25 00:04:14.119388 UTC
84689    8444136742823051302  active  2023-01-25 00:05:24.496641 UTC
956833   8444136742823051302  active  2023-01-25 00:08:13.490588 UTC
465423   8444136742823051302  active  2023-01-25 01:04:23.537968 UTC
215076   8444136742823051302  active  2023-01-25 01:09:07.147422 UTC
620564   8444136742823051302  active  2023-01-25 01:10:44.263304 UTC
497396   8444136742823051302  active  2023-01-25 02:02:50.644004 UTC
500971   8444136742823051302  active  2023-01-25 02:05:37.184295 UTC
253727   8444136742823051302  active  2023-01-25 02:10:31.753467 UTC
1340846  8444136742823051302  active  2023-01-25 03:04:52.125022 UTC
1221440  8444136742823051302  active  2023-01-25 03:05:32.298907 UTC
587887   8444136742823051302  active  2023-01-25 03:06:11.170371 UTC
261278   8444136742823051302  active  2023-01-25 04:04:22.105479 UTC
1314768  8444136742823051302  active  2023-01-25 04:05:36.491431 UTC
91311    8444136742823051302  active  2023-01-25 04:06:22.305761 UTC
132066   8444136742823051302  active  2023-01-25 05:04:28.903919 UTC
703444   8444136742823051302  active   2023-01-25 05:07:00.71587 UTC
1376266  8444136742823051302  active  2023-01-25 05:10:03.967349 UTC
1061263  8444136742823051302  active  2023-01-25 06:04:22.174013 UTC
446105   8444136742823051302  active  2023-01-25 06:05:06.960505 UTC
608466   8444136742823051302  active  2023-01-25 06:07:27.447282 UTC
1376622  8444136742823051302  active  2023-01-25 07:02:01.748497 UTC
52013    8444136742823051302  active  2023-01-25 07:06:50.605791 UTC
1031856  8444136742823051302  active  2023-01-25 07:12:29.994976 UTC
217218   8444136742823051302  active  2023-01-25 08:02:00.270863 UTC
232535   8444136742823051302  active  2023-01-25 08:05:52.527027 UTC
1192937  8444136742823051302  active  2023-01-25 08:10:14.012116 UTC
1315734  8444136742823051302  active  2023-01-25 09:02:20.432878 UTC
163859   8444136742823051302  active  2023-01-25 09:06:49.414811 UTC
576624   8444136742823051302  active  2023-01-25 09:07:03.494855 UTC
859122   8444136742823051302  active  2023-01-25 10:05:02.818849 UTC
27383    8444136742823051302  active  2023-01-25 10:05:55.320981 UTC
38339    8444136742823051302  active  2023-01-25 10:09:21.569883 UTC
746003   8444136742823051302  active  2023-01-25 11:03:41.528996 UTC
717037   8444136742823051302  active  2023-01-25 11:04:28.563976 UTC
26046    8444136742823051302  active  2023-01-25 11:13:27.277902 UTC
1199013  8444136742823051302  active  2023-01-25 12:03:06.337985 UTC
1018253  8444136742823051302  active  2023-01-25 12:04:25.960425 UTC
826218   8444136742823051302  active  2023-01-25 12:06:54.417421 UTC
1361943  8444136742823051302  active   2023-01-25 13:05:27.90302 UTC
1159870  8444136742823051302  active   2023-01-25 13:12:41.25705 UTC
808594   8444136742823051302  active  2023-01-25 13:13:07.614519 UTC
153321   8444136742823051302  active  2023-01-25 14:03:55.040116 UTC
1105620  8444136742823051302  active  2023-01-25 14:05:02.956368 UTC
149661   8444136742823051302  active  2023-01-25 14:05:13.560531 UTC
384122   8444136742823051302  active  2023-01-25 15:02:15.979995 UTC
1091308  8444136742823051302  active  2023-01-25 15:10:02.982295 UTC
200681   8444136742823051302  active  2023-01-25 15:12:25.566986 UTC
865809   8444136742823051302  active  2023-01-25 16:04:59.493902 UTC
359258   8444136742823051302  active  2023-01-25 16:05:25.807246 UTC
970500   8444136742823051302  active  2023-01-25 16:07:21.826399 UTC
782796   8444136742823051302  active  2023-01-25 17:04:46.542654 UTC
594241   8444136742823051302  active  2023-01-25 17:05:38.415663 UTC
916089   8444136742823051302  active  2023-01-25 17:07:34.928337 UTC
410194   8444136742823051302  active  2023-01-25 18:02:18.309883 UTC
1188958  8444136742823051302  active  2023-01-25 18:04:56.996439 UTC
822872   8444136742823051302  active  2023-01-25 18:06:05.039849 UTC

In [116]:
# Test with another restaurant
ss_sorted_timestamp_utc2 = store_status[store_status['store_id'] == 1472400125885919118].sort_values(by=["timestamp_utc"])
ss_8444136742823051302_on_2023_01_25 = ss_sorted_timestamp_utc2[list(map(lambda x: x.startswith('2023-01-25'), ss_sorted_timestamp_utc2['timestamp_utc']))]
# len(ss_8444136742823051302_on_2023_01_18) # 26
# ss_8444136742823051302_on_2023_01_18

"""
⚠️ Store should be open for 24*7 hrs but no data after 18:06:00 on 2023-01-25
"""
ss_8444136742823051302_on_2023_01_25

                    store_id    status                   timestamp_utc
1790023  1472400125885919118  inactive  2023-01-25 00:09:37.903674 UTC
1490255  1472400125885919118  inactive  2023-01-25 01:08:14.856264 UTC
1598842  1472400125885919118  inactive   2023-01-25 02:08:53.09979 UTC
1684529  1472400125885919118  inactive  2023-01-25 03:05:44.645215 UTC
1765319  1472400125885919118  inactive  2023-01-25 04:11:19.429418 UTC
1623360  1472400125885919118  inactive  2023-01-25 05:11:48.302113 UTC
1489784  1472400125885919118  inactive  2023-01-25 06:07:57.653531 UTC
1433580  1472400125885919118  inactive  2023-01-25 07:05:10.445203 UTC
1645615  1472400125885919118  inactive  2023-01-25 08:09:57.067185 UTC
1638575  1472400125885919118  inactive  2023-01-25 09:09:09.857722 UTC
1509246  1472400125885919118  inactive  2023-01-25 10:10:30.759073 UTC
1782304  1472400125885919118  inactive  2023-01-25 11:11:22.277667 UTC
1436764  1472400125885919118  inactive  2023-01-25 12:10:02.675575 UTC
1551755  1472400125885919118  inactive  2023-01-25 13:05:59.105279 UTC
1820281  1472400125885919118  inactive  2023-01-25 14:05:19.505007 UTC
1776780  1472400125885919118  inactive  2023-01-25 15:04:17.152711 UTC
1620758  1472400125885919118  inactive  2023-01-25 16:12:03.507685 UTC
1740524  1472400125885919118  inactive  2023-01-25 17:09:04.696417 UTC
1678326  1472400125885919118  inactive  2023-01-25 18:12:32.182643 UTC

In [117]:
menu_hours_1472400125885919118 = menu_hours[menu_hours['store_id'] == 1472400125885919118]
# Now sort the rows by day
menu_hours_1472400125885919118Sorted = menu_hours_1472400125885919118.sort_values(by=["day"])
menu_hours_1472400125885919118Sorted

                  store_id  day start_time_local end_time_local
322    1472400125885919118    0         00:00:00       00:29:00
80350  1472400125885919118    0         17:00:00       23:59:59
14312  1472400125885919118    0         11:30:00       15:00:00
80355  1472400125885919118    1         17:00:00       23:59:59
323    1472400125885919118    1         00:00:00       00:29:00
14313  1472400125885919118    1         11:30:00       15:00:00
321    1472400125885919118    2         00:00:00       00:29:00
80351  1472400125885919118    2         17:00:00       23:59:59
14311  1472400125885919118    2         11:30:00       15:00:00
324    1472400125885919118    3         00:00:00       00:29:00
80352  1472400125885919118    3         17:00:00       23:59:59
14308  1472400125885919118    3         11:30:00       15:00:00
320    1472400125885919118    4         00:00:00       00:29:00
80354  1472400125885919118    4         17:00:00       23:59:59
14310  1472400125885919118    4         11:30:00       15:00:00
80349  1472400125885919118    5         17:00:00       23:59:59
14307  1472400125885919118    5         11:30:00       15:00:00
7050   1472400125885919118    5         00:00:00       02:30:00
14309  1472400125885919118    6         11:30:00       15:00:00
7049   1472400125885919118    6         00:00:00       02:30:00
80353  1472400125885919118    6         17:00:00       23:59:59

In [ ]:

"status"	"timestamp_utc"
"active"	"2023-01-19 00:34:24.255797"
"active"	"2023-01-19 01:01:08.067312"
"active"	"2023-01-19 02:11:18.761631"
"active"	"2023-01-19 03:01:17.770276"
"active"	"2023-01-19 04:09:22.59391"
"active"	"2023-01-19 05:13:50.282702"
"active"	"2023-01-19 05:48:28.342969"
"active"	"2023-01-19 06:00:09.573278"
"active"	"2023-01-19 07:19:51.573349"
"active"	"2023-01-19 08:00:28.398586"
"active"	"2023-01-19 09:25:12.986153"
"active"	"2023-01-19 10:14:29.895392"
"active"	"2023-01-19 11:20:55.230704"
"active"	"2023-01-19 12:01:28.910775"
"active"	"2023-01-19 13:19:25.824186"
"active"	"2023-01-19 14:01:07.261726"



"status"    "StartTime"                     "EndTime"
# -------------------------------------------------------------------------
"active"	"2023-01-19 00:00:00.000000"	"2023-01-19 00:34:24.255797"
"active"	"2023-01-19 00:34:24.255797"	"2023-01-19 01:01:08.067312"
"active"	"2023-01-19 01:01:08.067312"	"2023-01-19 02:11:18.761631"
"active"	"2023-01-19 02:11:18.761631"	"2023-01-19 03:01:17.770276"
"active"	"2023-01-19 03:01:17.770276"	"2023-01-19 04:09:22.59391"
"active"	"2023-01-19 04:09:22.593910"	"2023-01-19 05:13:50.282702"
"active"	"2023-01-19 05:13:50.282702"	"2023-01-19 05:48:28.342969"
"active"	"2023-01-19 05:48:28.342969"	"2023-01-19 06:00:09.573278"
"active"	"2023-01-19 06:00:09.573278"	"2023-01-19 07:19:51.573349"
"active"	"2023-01-19 07:19:51.573349"	"2023-01-19 08:00:28.398586"
"active"	"2023-01-19 08:00:28.398586"	"2023-01-19 09:25:12.986153"
"active"	"2023-01-19 09:25:12.986153"	"2023-01-19 10:14:29.895392"
"active"	"2023-01-19 10:14:29.895392"	"2023-01-19 11:20:55.230704"
"active"	"2023-01-19 11:20:55.230704"	"2023-01-19 12:01:28.910775"
"active"	"2023-01-19 12:01:28.910775"	"2023-01-19 13:19:25.824186"
"active"	"2023-01-19 13:19:25.824186"	"2023-01-19 14:01:07.261726"
"active"	"2023-01-19 14:01:07.261726"	"2023-01-19 15:25:05.544636"
"active"	"2023-01-19 15:25:05.544636"	"2023-01-19 15:26:52.116341"
"active"	"2023-01-19 15:26:52.116341"	"2023-01-19 16:17:18.371277"
"active"	"2023-01-19 16:17:18.371277"	"2023-01-19 17:09:45.663351"
"active"	"2023-01-19 17:09:45.663351"	"2023-01-19 18:09:32.898813"
"active"	"2023-01-19 18:09:32.898813"	"2023-01-19 19:10:48.400758"
"active"	"2023-01-19 19:10:48.400758"	"2023-01-19 19:22:24.104451"
"active"	"2023-01-19 19:22:24.104451"	"2023-01-19 20:00:19.016328"
"active"	"2023-01-19 20:00:19.016328"	"2023-01-19 20:23:10.593136"
"active"	"2023-01-19 20:23:10.593136"	"2023-01-19 21:11:50.474978"
"active"	"2023-01-19 21:11:50.474978"	"2023-01-19 23:59:99.999999"